// TODO: Rename this to something better

.option {
  color: $color-white;
  display: inline-block;
  text-align: center;
  vertical-align: top;

  > .ball {
    background: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    line-height: 58px;
    margin: 0 auto 5px;
    width: 60px;
  }

  &.secondary > .ball {
    background: transparent;
    border-color: $color-white;
  }

  &.small > .ball {
    line-height: 25px;
    width: 27px;
  }
}
