html {
  color: $color-text;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-default;
  margin: 0;
  text-rendering: optimizeLegibility;
}
