input[type='tel'],
input[type='text'],
input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
textarea {
  border: 1px solid $color-dark-silver;
  box-sizing: border-box;
  padding: 10px 14px;
  border-radius: 3px;
}

.input-wrapper {
  margin: 16px 0 10px;
  position: relative;
  color: $color-dark-silver;

  > .input {
    width: 100%;

    &:focus + .label {
      top: -10px;
    }
  }

  > .label {
    position: absolute;
    top: 11px;
    left: 27px;
    background: $color-white;
    padding: 0 2px;
  }

  &.not-empty {
    color: $color-text;

    > .input {
      border-color: $color-charcoal-grey;
    }

    > .label {
      top: -10px;
    }
  }

  &.error {
    color: $color-dark-hot-pink;

    > .input {
      border-color: $color-dark-hot-pink;      
    }
  }
}

.input-phonenumber {
  .input-wrapper {
    margin-left: 80px;

    > .input {
      width: auto;
      max-width: 100%;
    }

    > .label {
      left: 14px;
    }
  }

  .country-code {
    float: left;
    margin: 0;

    > .input {
      width: 70px;
    }

    > .label {
      @include visuallyhidden;
    }
  }
}
