// Color Palette

// main color palette
// =============
$color-black: #000;
$color-charcoal-grey: #383f4e;
$color-warm-grey: #979797;
$color-warm-grey-two: #8d8c8c;
$color-dark-silver: #787d82;
$color-silver: #c8cdd2;
$color-light-silver: #e8ebee;
$color-white: #fff;
$color-neon-blue: #00d7ff;
$color-cerulean: #0069d2;
$color-blue-sea: #1f4191;
$color-dark-hot-pink: #e5007d;

$color-text: #222531;
$color-link: $color-neon-blue;
$color-primary: $color-dark-hot-pink;
$color-secondary: #000;
